body {
    font-family: Roboto;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);

}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    top: 20px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#screen {
    flex-direction: column;
    height: 120px;
    border-style: solid;
    border-radius: 4px;
    border-width: thin;
}

#old_result {
    height: 50%;
    margin: 10px 20px;
    font-size: 30px;
}

#result {
    text-align: right;
    height: 50%;
    margin: 10px 20px;
    font-size: 30px;
}

#key_board {
    height: 400px;
}

.operator,
.number,
.none {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 10%;
    border-style: solid;
    border-width: 1;
    font-weight: bold;
    font-size: 16px;
}


.operator,
.number {
    cursor: pointer;
}

.operator:hover,
.number:hover {
    background-color: red;
}